.employee-title {
  font-size: 10pt;
  float: left;
  padding-left: 12%;
}

.center {
  text-align: center;
}

#projects .features {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

#projects .content {
  display: flex;
}

#projects .content img {
  border-radius: 5px;
  border: 0;
  position: relative;
  width: 100%;
  height: 100%;
}

.flex {
  display: flex;
}

.column {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

.description {
}

.double-width {
  width: 200%;
}

.double-width .img-title {
  display: inline;
  margin: 0 22.5%;
  font-weight: bold;
  color: black;
}

.pointer {
  cursor: pointer;
}

.pointer:hover {
  color: #4acaa8 !important
}

.flex {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.img-container {
  margin: 0.5rem;
}

.left {
  flex-grow: 1;
}

.left input {
  margin: .5em 0;
}

.right .contact li {
  list-style: none;
}

#footer {
  padding: 2em 0;
  padding-left: 23em;
}

#footer .copyright {
  margin: 0;
}

#footer .copyright a {
  cursor: pointer;
}

@media (min-width: 100px) {
  #projects .content {
    flex-direction: column;
  }
}
@media (min-width: 750px) {
  #projects .content {
    flex-direction: row;
  }
}
@media (min-width: 970px) {

}
@media (min-width: 1170px) {

}
