{{!< default}}
<!-- Header -->
  <section id="header">
    <header>
      <span class="image avatar"><img src="assets/images/avatar.jpg" alt="" /></span>
      <h1 id="logo">
        <a href="javascript:void(0)">Eric Beerbower</a>
        <br />
        <span class="employee-title">Owner</span>
      </h1>
    </header>
    <nav id="nav">
      <ul>
        <li><a href="#about" class="active">About</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#projects">Recent Projects</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
    <footer>
      <ul class="icons">
        <li>
          <a href="javascript:void(0)" target="_blank" class="icon fa-facebook-official">
            <span class="label">Facebook</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)" target="_blank" class="icon fa-linkedin-square">
            <span class="label">LinkedIn</span>
          </a>
        </li>
        <li>
          <a href="#contact" class="icon fa-envelope">
            <span class="label">Email</span>
          </a>
        </li>
      </ul>
    </footer>
  </section>

<!-- Wrapper -->
  <div id="wrapper">

    <!-- Main -->
      <div id="main">

        <!-- One -->
          <section id="about">
            <div class="container">
              <header class="major">
                <h2>Beerbower Painting LLC</h2>
                <p>Just an incredibly simple responsive site<br />
                template freebie by <a href="http://html5up.net">HTML5 UP</a>.</p>
              </header>
              <p>Faucibus sed lobortis aliquam lorem blandit. Lorem eu nunc metus col. Commodo id in arcu ante lorem ipsum sed accumsan erat praesent faucibus commodo ac mi lacus. Adipiscing mi ac commodo. Vis aliquet tortor ultricies non ante erat nunc integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer non. Adipiscing cubilia elementum.</p>
            </div>
          </section>

        <!-- Two -->
          <section id="services">
            <div class="container">
              <h3>Services</h3>
              <p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer non. Adipiscing cubilia elementum integer lorem ipsum dolor sit amet.</p>
              <ul class="feature-icons">
                <li class="fa-check">Powerwashing</li>
                <li class="fa-check">Interior/Exterior Painting</li>
                <li class="fa-check">Staining</li>
                <li class="fa-check">Wall Repair</li>
                <li class="fa-check">Wallpaper Removal</li>
                <li class="fa-ellipsis-h">and much more!</li>
              </ul>
            </div>
          </section>

        <!-- Three -->
          <section id="projects">
            <div class="container">
              <h3>Recent Projects</h3>
              <p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer non. Adipiscing cubilia elementum integer. Integer eu ante ornare amet commetus.</p>
              <div class="features flex">
                <!-- built dynamically with ajax -->
                
              </div>
            </div>
          </section>
        <!-- Four -->
          <section id="contact">
            <div class="container">
              <h3>Contact Me</h3>
              <p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer non. Adipiscing cubilia elementum integer. Integer eu ante ornare amet commetus.</p>
              <div class="flex">
                <div class="left">
                  <form id="contact-form" method="POST" action="">
                    <input type="text" name="name" id="name" placeholder="Name" />
                    <input type="email" name="_replyto" id="email" placeholder="Email" />
                    <input type="text" name="subject" id="subject" placeholder="Subject" />
                    <textarea name="message" id="message" placeholder="Message" rows="6"></textarea>
                    <!-- hidden -->
                    <input type="text" name="_gotcha" style="display:none" />
                    <!-- buttons -->
                    <input type="submit" class="special" value="Send Message" />
                    <input type="reset" value="Reset Form" />
                  </form>
                </div>
                <div class="right">
                  <ul class="contact">
                    <li>
                      <h3>Phone</h3>
                      <span>(567) 202-3818</span>
                    </li>
                    <li>
                      <h3>Email</h3>
                      <div class="pointer" onclick="focus_el('name')">beerbowerpaintingllc@gmail.com</div>
                    </li>
                    <li>
                      <h3>Social</h3>
                      <ul class="icons">
                        <li><a href="#" target="_blank" class="fa fa-facebook-official pointer"><span class="label">Facebook</span></a></li>
                        <li><a href="#" target="_blank" class="fa fa-linkedin-square pointer"><span class="label">LinkedIn</span></a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </section>
        </div>

      <!-- Footer -->
    </div>
